<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>HOME</title>
    <style>
        body{
            background-color: #696969;
            color: white;
        }
        #titulo{
            background-color: aqua;
            color: aliceblue;
            text-shadow:  2px 3px black;
            text-align: center;

        }
    </style>
</head>
<body>
    <div id="estilo">
        <h1 id="titulo">Registro do banco de dados - aprendendo mongodb</h1>  
    <% for(var i=0;i<dados.length;i++){ %>   
        <p>Nome:  <%= dados[i].nome  %>  </p>
        <p>Email:  <%= dados[i].email  %>  </p>
        
        <br><hr><br>
        <%}%>
    </div> 
    
    <a href="http://localhost:3000">Voltar</a>
</body>
</html>